In [20]:
import pandas as pd

In [21]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [22]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2302401 entries, 0 to 2302400
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 105.4+ MB

In [23]:
filter20_df = vine_df[vine_df['total_votes'] >= 20]
filter20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [24]:
new_vine_df = filter20_df.loc[filter20_df.helpful_votes / filter20_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [25]:
vine_reviews_df = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N

In [26]:
not_vine_df = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y

In [27]:
count_vine = len(vine_reviews_df)
count_vine

107

In [28]:
count_nonvine = len(not_vine_df)
count_nonvine

39869

In [29]:
max_rating_vine = len(vine_reviews_df[vine_reviews_df['star_rating']==5])
max_rating_vine

56

In [30]:
max_rating_nonvine = len(not_vine_df[not_vine_df['star_rating']==5])
max_rating_nonvine

21005

In [31]:
max_rating_vine/count_vine

0.5233644859813084

In [32]:
max_rating_nonvine/count_nonvine

0.5268504351751988